-----
title: CCC Stuttgart - Startseite
kind: empty
feed:
-
  url: '/atom.xml'
  title: 'CCCS - Neueste Artikel'
-----
<div class="row">
  <div class="span12">
    <img src="/img/logo-klein.png" class="pull-right" />
    <h1>Herzlich willkommen beim CCC Stuttgart</h1>
    <p>
    <strong>Neu hier?</strong> Schau' doch bei <a href="/about/">unserer Beschreibung über uns</a>
    vorbei, dort erzählen wir ein wenig, wer wir sind, was wir machen und
    wo Du uns treffen kannst.
    <p>
    <strong>Auf der Suche nach Terminen?</strong> Hier auf der Startseite haben wir
    die wichtigsten kommenden Termine stehen. Wenn Du einen weiteren Ausblick
    brauchst, schau' Dir unsere <a href="/events/">Veranstaltungs-Seite</a> an, dort
    stehen die Termine von uns veranstalteter Aktionen. Zusätzlich sind wir
    mitunter bei fremden Veranstaltungen eingeladen, die findest Du unter
    <a href="/activities/">Aktivitäten</a> (möglicherweise sind nicht alle öffentlich).
    Du kannst all diese Termine auch <a href="/cccs.ical">per ical abonnieren</a>.
    <p>
    <strong>Aktuelle Informationen?</strong> Unten auf der Seite stehen blog-artig
    Artikel und Notizen. Wenn Du diese automatisch beziehen möchtest, kannst
    Du sie <a href="/atom.xml">per Atom-Feed</a> abonnieren.
  </div>
</div>
<div class="row">
  <% upcomingEvents = get_events().select { |e| e[:startdate].to_datetime > DateTime.now }
  if (upcomingEvents.size>0)
    upcomingEvents.sort! { |a,b| a[:startdate].to_datetime <=> b[:startdate].to_datetime }
  %>
  <div class="span6">
    <div class="well well-large">
      <article itemscope itemtype="http://schema.org/EducationEvent">
        <h1><a href="<%= upcomingEvents[0].path() %>">Nächster Vortrag</a></h1>
        <%= render 'event_header', :item => upcomingEvents[0], :heading => false, :link => false %>
        <p>
        <a itemprop="url" href="<%= upcomingEvents[0].path() %>">Weitere Informationen</a> -
          <a href="#">Flyer (PDF)</a> -
          <a href="#">Aushang (PDF)</a>
        </p>
      </article>
    </div>
  </div>
  <% end %>
  <% upcomingRegularsTable = get_regulars_tables().select { |e| e[:startdate].to_datetime > DateTime.now }
  if (upcomingRegularsTable.size>0)
    upcomingRegularsTable.sort! { |a,b| a[:startdate].to_datetime <=> b[:startdate].to_datetime }
  %>
  <div class="span6">
    <div class="well well-large">
      <article itemscope itemtype="http://schema.org/SocialEvent">
        <h1><a href="#">Nächster <span itemprop="name">CCCS Stammtisch</span></a></h1>
        <%= render 'event_header', :item => upcomingRegularsTable[0], :heading => false, :link => false %>
        <p>
          <a itemprop="url" href="#">Unsere Stammtische</a>
        </p>
      </article>
    </div>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="span8">
    <section itemscope itemtype="http://schema.org/Blog">
      <% latest_articles(5).each do |item| %>
      <div class="row">
        <div class="span8">
        <%= render 'item_intro', :item => item, :extended => true %>
          <p>
          <a itemprop="blogPost" href="<%= item.path() %>">Zum Artikel</a>
        </div>
      </div>
      <% end %>
    </section>
  </div>
  <div class="span4">
    <h1>Letzte Tweets</h1>
    <p>
    <%= render 'twitter_list', :items => twitter_by_date().first(5) %>
    <p>
    <a href="/archives/twitter/<%= twitter_grouped_by_month.keys.sort.last %>">Lokales Twitter-Archiv</a> -
    <a href="https://twitter.com/cccs_de/">@cccs_de bei Twitter</a>
  </div>
</div>

