-----
title: CCC Stuttgart - Startseite
kind: empty
-----
<div class="row">
  <div class="span12">
    <img src="/img/logo-klein.png" class="pull-right" />
    <h1>Herzlich willkommen beim CCC Stuttgart</h1>
    <p>
    <strong>Neu hier?</strong> Schau' doch bei <a href="#">unserer Beschreibung über uns</a>
    vorbei, dort erzählen wir ein wenig, wer wir sind, was wir machen und
    wo Du uns treffen kannst.
    <p>
    <strong>Auf der Suche nach Terminen?</strong> Hier auf der Startseite haben wir
    die wichtigsten kommenden Termine stehen. Wenn Du einen weiteren Ausblick
    brauchst, schau' Dir unsere <a href="#">Veranstaltungs-Seite</a> an, dort
    stehen die Termine von uns veranstalteter Aktionen. Zusätzlich sind wir
    mitunter bei fremden Veranstaltungen eingeladen, die findest Du unter
    <a href="#">Aktivitäten</a> (möglicherweise sind nicht alle öffentlich).
    Du kannst all diese Termine auch <a href="#">per ical abonnieren</a>.
    <p>
    <strong>Aktuelle Informationen?</strong> Unten auf der Seite stehen blog-artig
    Artikel und Notizen. Wenn Du diese automatisch beziehen möchtest, kannst
    Du sie <a href="#">per Atom-Feed</a> abonnieren.
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="well well-large">
      <article itemscope itemtype="http://schema.org/EducationEvent">
        <h1><a href="#">Nächster Vortrag</a></h1>
        <p>
          <strong>Termin:</strong>
          <span itemprop="startDate" content="2013-02-14T19:30">Donnerstag, 14. Februar 2013, 19:30 Uhr</span>
        </p>
        <p>
          <strong>Thema:</strong>
          <span itemprop="name">Über die besonderen Anforderungen beim Sammeln von historischen Großrechnern</span>
        </p>
        <p>
          <strong>Referent:</strong>
          <span itemprop="performer" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">Wolfgang Stief</span>, GUUG München
          </span>
        </p>
        <p>
          <strong>Ort:</strong>
          <span itemprop="location" itemscope itemtype="http://schema.org/Location">
            <span itemprop="name">Stadtbibliothek am Mailänder Platz</span>, Max-Bense-Forum (UG)
          </span>
        </p>
        <p>
          <a itemprop="url" href="#">Weitere Informationen</a> -
          <a href="#">Flyer (PDF)</a> -
          <a href="#">Aushang (PDF)</a>
        </p>
      </article>
    </div>
  </div>
  <div class="span6">
    <div class="well well-large">
      <article itemscope itemtype="http://schema.org/SocialEvent">
        <h1><a href="#">Nächster <span itemprop="name">CCCS Stammtisch</span></a></h1>
        <p>
          <strong>Termin:</strong>
          <span itemprop="startDate" content="2013-02-05T18:00">Dienstag, 5. Februar 2013, ab 18:00 Uhr</span>
        </p>
        <p>
          <strong>Ort:</strong>
          <span itemprop="location" itemscope itemtype="http://schema.org/Location">
            <span itemprop="name">Zadu-Bar</span>
          </span>
        </p>
        <p>
          <a itemprop="url" href="#">Unsere Stammtische</a>
        </p>
      </article>
    </div>
  </div>
</div>
<div class="row">
  <div class="span8">
    <section itemscope itemtype="http://schema.org/Blog">
      <div class="row">
        <div class="span8">
          <article>
            <h1><a itemprop="blogPost" href="#">Ein Blogpost</a></h1>
            <p>
            <i class="icon-flag icon-4x pull-left icon-border"></i> Font Awesome is
            working!
            <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
            est Lorem ipsum dolor sit amet.
            <p>
            <a href="#">Zum Artikel</a>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <article>
            <h1><a itemprop="blogPost" href="#">Ein Projektartikel</a></h1>
            <h2>Ein Untertitel...</h2>
            <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
            molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
            eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
            zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            <h3>Unter-Unter-Überschrift</h3>
            <p>
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem
            vel eum iriure dolor in hendrerit in vulputate velit esse molestie
            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
            accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
            delenit augue duis dolore te feugait nulla facilisi.
            <p>
            <a href="#">Zum Artikel</a>
          </article>
        </div>
      </div>
    </section>
  </div>
  <div class="span4">
    <h1>Letzte Tweets</h1>
    <p>
    <%= render 'twitter_list', :items => twitter_by_date().first(5) %>
    <p>
    <a href="/archives/twitter/<%= twitter_grouped_by_month.keys.sort.last %>">Lokales Twitter-Archiv</a> -
    <a href="https://twitter.com/cccs_de/">@cccs_de bei Twitter</a>
  </div>
</div>

