-----
style: none
-----
<% upcomingEvents = get_public_events().select { |e| (e[:enddate]||e[:startdate]).to_datetime > DateTime.now }
if (upcomingEvents.size>0)
  upcomingEvents.sort! { |a,b| a[:startdate].to_datetime <=> b[:startdate].to_datetime }
%>
<h1>Kalender</h1>
<p>
<%= render 'calendar_list', :events => upcomingEvents.first(10) %>
<% end %>
<h1>Neuste Mastodon-Post</h1>
<p>
<%= render 'mastodon_list', :items => mastodon_by_date().first(5), :truncate => 150 %>
<p>
<a href="/archives/mastodon/<%= mastodon_grouped_by_month.keys.sort.last %>">Lokales Mastodon-Archiv</a> -
<a href="https://chaos.social/@cccs">@cccs bei Mastodon</a>