-----
style: none
-----
<% upcomingEvents = get_public_events().select { |e| (e[:enddate]||e[:startdate]).to_datetime > DateTime.now }
if (upcomingEvents.size>0)
  upcomingEvents.sort! { |a,b| a[:startdate].to_datetime <=> b[:startdate].to_datetime }
%>
<h1>Kalender</h1>
<p>
<%= render 'calendar_list', :events => upcomingEvents.first(10) %>
<% end %>
<h1>Letzte Tweets</h1>
<p>
<%= render 'twitter_list', :items => twitter_by_date().first(5) %>
<p>
<a href="/archives/twitter/<%= twitter_grouped_by_month.keys.sort.last %>">Lokales Twitter-Archiv</a> -
<a href="https://twitter.com/cccs_de/">@cccs_de bei Twitter</a>

