-----
title: Projekte
kind: page
-----
<%
  prj = projects_by_state
%>
<% if prj.has_key?('active') %>
<h1>Aktive Projekte</h1>
<div class="itemlist">
  <%= render 'project_list', :projects => prj['active'], :extended => true %>
</div>
<% end %>
<% if prj.has_key?('completed') %>
<h1>Abgeschlossene Projekte</h1>
<div class="itemlist">
  <%= render 'project_list', :projects => prj['completed'], :extended => true %>
</div>
<% end %>
<% if prj.has_key?('stalled') %>
<h1>Ruhende Projekte</h1>
<div class="itemlist">
  <%= render 'project_list', :projects => prj['stalled'], :extended => true %>
</div>
<% end %>
