$mainPadding: 15px;

body {
  background-image: url(/img/bg.png);
  background-repeat: both;
}

a:hover, a:focus {
  text-decoration: none;
}

#footer {
  #footerimage {
    text-align: right;
    border-bottom: 3px;
    border-bottom-color: $cccsGreen;
    border-bottom-style: solid;
  }
  footer {
    margin-left: -$mainPadding;
    margin-right: -$mainPadding;
    padding-left: $mainPadding;
    padding-right: $mainPadding;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $grayLight;
    background-color: $cccsBlue;
  }
}

.container {
  background-color: $white;
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));
  padding-left: $mainPadding;
  padding-right: $mainPadding;
}

.navbar-static-top .navbar-inner {
  box-shadow: 0 0 0 0;
  border-width: 0;
  background-color: transparent;
  background-image: none;
  border: 0;
}

.nav-collapse {
  margin-top: 65px;
}

.nav {
  border-bottom: 3px;
  border-bottom-color: $grayLighter;
  border-bottom-style: solid;
}

.navbar .nav > li > a {
  padding-bottom: 5px;
}

.navbar .nav > li > a.active,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  border-bottom: 3px;
  border-bottom-color: $cccsGreen;
  border-bottom-style: solid;
  margin-bottom: -3px;
}

