<%= render 'pager', :linkprev => @linkprev, :linknext => @linknext %>
<div class="row">
  <% @item[:archiveitems].each do |item| %>
  <div class="span8">
  <%= render 'item_intro', :item => item, :extended => true %>
   <p>
   <a itemprop="blogPost" href="<%= item.path() %>">Zum Artikel</a>
   <hr>
  </div>
  <% end %>
</div>
<%= render 'pager', :linkprev => @linkprev, :linknext => @linknext %>
