<%= render 'pager', :linkprev => @linkprev, :linknext => @linknext %>
<div class="row">
  <% (@item[:futureitems] + @item[:pastitems]).each do |item| %>
  <div class="span8">
    <article itemscope itemtype="http://schema.org/EducationEvent">
      <%= render 'event_header', :item => item, :heading => true, :link => true %>
    </article>
    <p>
    <a href="<%= item.path() %>">Zum Artikel</a>
    <hr>
  </div>
  <% end %>
</div>
<%= render 'pager', :linkprev => @linkprev, :linknext => @linknext %>
