<div class="pager">
<% if @linkprev %>
  <a href="<%= @linkprev.link %>" class="pull-left fas fa-circle-arrow-left">&nbsp;<%= @linkprev.title %></a>
<% end %>
<% if @linknext %>
  <a href="<%= @linknext.link %>" class="pull-right fas fa-circle-arrow-right">&nbsp;<%= @linknext.title %></a>
<% end %>
</div>
