<section itemscope itemtype="http://schema.org/Blog">
  <% latest_articles_referred_to(@refitem.identifier,@count).each do |item| %>
  <div class="span8">
  <%= render 'item_intro', :item => item, :extended => true %>
    <p>
    <a itemprop="blogPost" href="<%= item.path() %>">Zum Artikel</a>
  </div>
  <% end %>
</section>
